.c-item
{
    height: 300px;
}
.c-image
{
    height: 100%;
    object-fit: cover;    
    filter: brightness(0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btns button {
    background-color: #fff;
    outline: whitesmoke;
    border: whitesmoke;
    padding: 15px 30px;
    font-size: 1.0rem;
    border-radius: 40px;
    text-transform: capitalize;
    transition-duration: 300ms;
    cursor: pointer;
    font-weight: bold;
  }
  #btnClicked {
    background-color:#FAD02C;
    color: #000;
    font-weight: bold;
  }
  #btnUnclick {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
  .btns button:hover {
    opacity: 1;
  }
 